body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  .container {
    margin-top: 200px;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  